.carousel {
    position: relative;
    width: 50%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    animation: carouselAnimation 10s infinite;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  .slide img {
    width: 50%;
    height: 50%;
  }
  
  @keyframes carouselAnimation {
    0% {
      transform: translateX(0);
    }
    33.33% {
      transform: translateX(-100%);
    }
    66.66% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  