body {
    background: #F2EEE9;
    margin: 0;
    padding: 20px;
    font-family: Inter;

}
a {
    text-decoration: none;
  }
  
  
  a {
    color: inherit; 
    
    
  }
.section-postion {
    width: 1366px;

    justify-items: center;
    display: grid;
    grid:
        "form-buy-rent body" 1fr / auto 1fr;
    gap: 8px;
}


.form-buy-rent {
    grid-area: form-buy-rent;
}

.list-product {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
}



#precio_min,
#precio_max,
#tam_min,
#tam_max,
#cuartos {
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    background: #FFF;
    width: 75px;
    height: 25px;
    flex-shrink: 0;
}

select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    margin-bottom: 10px;
    -moz-appearance: textfield;

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.caracteristicas-container {
    margin-bottom: 10px;
}

.ordenar-container {
    margin-top: 20px;
}

.contenedor-house-total {
    margin: 10px;
    border: 1px solid black;
    min-width: 90%;
    max-width: 90%;
    height: 275px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.imagen-flex {
    margin: -5px;
    flex-basis: 35%;
}

.texto-flex {
    margin: 0;
    flex-basis: 65%;
    display: flex;
    font-size: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 5px;
}

.nombre-flex {
    color: var(--nbg, #1C304A);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 100% */
    flex: 100%;
}

.precio-flex {
    color: #484848;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 100% */
    flex: 100%;
}

.fila-2-flex {
    color: var(--neutral-gray-2, #626262);



    font-size: 14px;
    font-style: normal;

    flex: 1 1 10%;
}

.texto-flex {
    flex: 1 1 100%;
}

.fila-3-flex {
    flex: 1 1 25%;

}

.contenedor-house-total img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-house-total div {
    padding: 5px;
}

.fila-2-flex svg,
.fila-3-flex svg {
    transform: translateY(3px);

}

#verde {
    color: #47A101;
}

#celeste {
    color: #3B86A9;
}

#azul {
    color: var(--nbg, #1C304A);
}