*{
  list-style: none;
}

footer{
  margin: 0;
  padding: 0;
}

.footer{
  padding: 20px 0px;
  box-sizing: border-box;
  background-color: #456173;
  font-family: 'Inter';
  text-transform: capitalize;
}

.contenido-footer{
  max-width: 1200px;
  margin: 0 auto;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
}

.footer-links{
  width: 25%;
  padding: 0 1px;
}

.footer-links h4{
  font-size: 20px;
  color: #f9fafa;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #afd4c8;
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links ul li a{
  font-size: 18px;
  text-decoration: none;
  color: #f9fafa;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.footer-links ul li a:hover{
  color: #afd4c8;
  padding-left: 6px;
}

.social-link a{
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255,255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5 ease;
}

.social-link a:hover{
  background-color: #afd4c8;
}

@media(max-width:600px){
  .footer-row{
    text-align: center;
  }

  .footer-links{
    width: 100%;
    margin-bottom: 30px;
  }
}