body {
  margin: 0;
  overflow: hidden;
  font-family: 'Inter';
  padding: 0;
  background-color: #F2EEE9;
  font-family: 'Montserrat', sans-serif;
}

.cont_bus {
  background-color: #1C304A;
  text-align: center;
  padding: 0px 20px 20px 30px;
}

.verMas {
  text-decoration: none;
  color: #456173;
  border: 1px solid #456173;
  border-radius: 5px;
  padding: 2px;
}

a:hover {
  transition: all 0.4s ease;
  color: #F2EEE9;
  background-color: #456173;
}

.verMas:active {
  color: #FF0000;
}

.espc {
  height: 109px;
  background: #F2EEE9;
}

.select-wrapper {
  position: relative;
  width: 200px;
}

.select-wrapper select {
  color: #456173;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #1C304A;
  background: rgba(255, 255, 255, 0.07);

}

#submit {
  font-family: Inter;
}

#search {
  color: #456173;
}

.select-wrapper:after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #afd4c8;
  pointer-events: none;
}


.select-wrapper:after {
  font-size: 12px;
  line-height: 1;
}


.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.search-input {
  flex: 1;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #1C304A;
  background: rgba(255, 255, 255, 0.07);
  color: #F2EEE9;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #EEF0F7;
}

.search-icon:before {
  content: '\f002';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.submit-button {
  color: #F2EEE9;
  width: 100%;
  height: 30px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #1C304A;
  background: #456173;
}

.a {
  color: #F2EEE9;
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.flex-container_tit {
  background-color: #F2EEE9;
  border-radius: 10px;
  width: 75%;
  height: 109px;
  min-width: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  gap: 15px;
  margin: 0 auto;
  box-sizing: border-box
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}



.info-card {
  display: grid;
  justify-items: center;
}

.section-info {
  position: relative;
  width: 750px;
  height: 450px;
}

.div-container-info {
  position: absolute;
  background-color: rgba(255, 0, 0);
  z-index: 1;
  box-sizing: border-box;
}

.div-info-1 {
  background: #456173;

  height: 55%;
  width: 65%;
  color: #FFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  top: 43%;
  right: 50%;
}

.div-info-2 {
  height: 80%;
  width: 75%;
  top: 30%;
  z-index: 0;
  left: 25%;
  background: url(../img/casa4.jpg), lightgray 50% / cover no-repeat;
}

.div-info-3 {

  top: 103%;
  left: 94%;
  height: 10%;
  z-index: -1;
  width: 10%;
  border-radius: 30px 0px 10px 0px;
  background: #456173;
}

#negrita {
  color: #FFF;
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
a {
  text-decoration: none;
}


a {
  color: inherit; 
  
  
}
#contactos {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 120px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 30px 5px;
  background: #FFF;
  color: #456173;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-space {
  padding: 2%;
}



.content-house {
  padding-block: initial;
  width: 85%;
  padding: 25px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start
}


.c-flex-item {
  padding-bottom: 50px;

  flex: 25%;
}

.parent_c {
  width: 380px;
  position: relative;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img_c {
  border-radius: 15px;
  width: 380px;
  height: 213px;
  margin: 0 auto;
}

#overlay {
  display: none;
}


.divInferior {
  flex: 1 0 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: baseline;
}

.divSuperior {
  border-radius: 7px;
  width: 75%;
  height: auto;
  background: var(--neutral-white, #FFF);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.07);
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 15px;
  padding-top: 15px;
}

.FlexContainer_c {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 85%;
  max-width: 85%;
  font-size: 15px;
  gap: 10px;
  max-height: 75px;
  min-height: 75px;
}

.dfeatures_c {
  width: 80%;
  display: inline-flex;
  gap: 10px;
}

.content-house-letter {
  width: 100%;
  height: 75px;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.c-flex-item-letter-large {
  flex: 100%;
  font-size: 15px;
  text-align: -webkit-auto;

}

.c-flex-item-letter-price {
  flex: 33%;
  font-size: 15px;

}

.c-flex-item-letter {
  flex: 33%;
  text-align: -webkit-auto;
  font-size: 15px;

}

.contenedor_hs {
  padding: 50px;
  text-align: -webkit-center;

}

.switch {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #456173;
  border-radius: 20px;
  width: 200px;
  position: relative;
  overflow: hidden;
}

/* Slider */
.slider {
  position: absolute;
  top: 2px;
  left: 2px;
  height: calc(100% - 4px);
  width: 50%;
  background-color: #456173;
  transition: left 0.3s;
  border-radius: 18px;
}

#comprar:checked~.slider {
  left: 2px;
  color: white;
}

/* Estilos del botón Rentar */
#rentar:checked~.slider {
  color: white;
  left: 50%;
}

/* Estilos generales de los botones */
.switch label {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  cursor: pointer;
  z-index: 1;
  position: relative;
  color: #456173;
  /* Color predeterminado del texto */
}

/* Texto en azul cuando el interruptor no está seleccionado */
.switch :not(:checked) label {
  color: white;
}

/* Ocultar los inputs radio */
input[type="radio"] {
  display: none;
}

.text-p {
  text-align: left;
  color: #4A4A4A;
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  margin-left: 150px;

}

@media (max-width: 400px) {
  .c-flex-item {
    padding-top: 50px;
    flex: 100%;
  }
}