* {
    margin:10px 10px 10px;
    padding: 2;
    box-sizing: border-box;
  }
  
  body {
    background-color: #eef0f7e4;
    font-family: 'Inter';
    display: grid;
    place-items: center;
    height: 620px;
    overflow: hidden;
  }

  .sesion{
    color: #eef0f7e4;
    text-decoration: none;
  }

  .overlay {
    position: relative;
    z-index: 1;
}

  .container {
    background-color: #fff;
    width: 600px;
    height: 450px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    line-height: 1.5;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
    border-radius: 1%;
  }
  
  .container::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to bottom right, #1c304a, #acd2c5);
    width: 620px;
    height: 470px;
    border-radius: 1%;
    z-index: -1;
  }
  
  .container-close{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #fff;
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    font-size: 1.7rem;
    color: #2E4052;
    border-radius: 40%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
  }
  
  .container img {
    width: 250px;
    height: 420px;
    object-fit: cover;
    object-position: center;
  }
  
  .container-text {
    padding: 10px 40px 10px 10px;
  }
  
  .container-text h2 {
    font-size: 1.2rem;
    color: #1A2250;
  }
  
  .container-text p {
    font-size: 14px;
    color: #3B4169;
    margin: 10px 0;
  }
  
  .container-text input,
  .container-text button {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 6px;
  }
  
  .container-text input {
    border: 2px solid #DADDEC;
    margin: 5px 0 10px;
    font-size: 1rem;
    color: #656880;
  }
  
  .container-text button {
    background-image: linear-gradient(to right, #afd4c8, #1c304a);
    display: block;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 20px #89caff94;
    transition: box-shadow .3s ease-in-out;
  }
  
  .container-text button:hover {
    box-shadow: none;
  }
  
  .container-text span {
    display: block;
    text-align: center;
    margin: 20px 0 0;
    color: #BABDCB;
    font-size: 12px;
  }

  .close{
    text-decoration: none;
  }

