* {
  font-family: Inter;
}

body {
  background-color: #EEF0F7;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1c304a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
  max-height: 110px;
  margin-right: auto;
}

.header .logo img {
  width: 150px;
  max-height: 114px;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover,
.overlay a:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 20px;
  color: #EEF0F7;
}

.header .nav-links a:hover {
  color: #f1ece5;
}

.menu-toggle {
  display: none;
}

.menu {
  display: none;
  cursor: pointer;
}

.menu span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #EEF0F7;
  margin-bottom: 6px;
  transition: all 0.3s ease;
}

.menu-toggle:checked+.menu {
  transform: rotate(45deg);
}

.menu-toggle:checked+.menu span:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked+.menu span:nth-child(3) {
  transform: rotate(-45deg) translateX(-1px) translateY(-1px);
}

.menu-toggle:checked~.nav-links,
.menu-toggle:checked~.mobile-menu {
  display: block;
}

@media screen and (max-width: 800px) {
  .nav-links,
  .btn {
    display: none;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
  }

  .menu-toggle:checked~.nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    padding: 20px;
    background-color: #1c304a;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .menu-toggle:checked~.nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-toggle:checked~.nav-links ul li {
    margin: 10px 0;
  }

  .menu-toggle:checked~.mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    text-align: center;
    padding-top: 100px;
    font-size: 15px;
    color: #EEF0F7;
  }
}

.nav-links a {
  text-decoration: none;
  color: #faf4f4;
  padding: 0px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  border-bottom: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  margin-top: -3.8%;
  position: absolute;
  top: 0;
  left: -3%;
  display: block;
  border-radius: 28px;
  background: rgba(125, 156, 161, 0.5);
  width: 46px;
  height: 46px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 12px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 0px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: rgb(255, 255, 255);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 105%;
  background: rgba(125, 156, 161, 0.5);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

@media screen and (max-width: 800px) {
  .header .nav-links {
    display: none;
  }

  .header .cta {
    display: none;
  }

  .header .menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    color: #EEF0F7;
  }

  .header .menu span {
    background-color: #EEF0F7;
  }

  .menu-toggle:checked~.nav-links {
    display: block;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    padding: 20px;
    background-color: #1c304a;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .menu-toggle:checked~.nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-toggle:checked~.nav-links ul li {
    margin: 10px 0;
  }
}