.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 9 / 11; }
    .div2 { grid-area: 6 / 3 / 10 / 9; }
    .div3 { grid-area: 1 / 10 / 2 / 11; }
    .div4 { grid-area: 7 / 7 / 8 / 9; }
    .div5 { grid-area: 9 / 3 / 10 / 5; }
    .div6 { grid-area: 9 / 5 / 10 / 7; }
    .div7 { grid-area: 9 / 7 / 10 / 9; }
    .div8 { grid-area: 8 / 3 / 9 / 7; }
    .div9 { grid-area: 6 / 3 / 7 / 6; }